/*adds color to background of card-header and jumbotron containing "team"*/
#manager {
    background-color: #F6AE2D;
}

#engineer {
    background-color: #758E4F;
}

#intern {
    background-color: #86BBD8;
}

#main {
    background-color: #C0A9B0;
}